<IfModule mod_rewrite.c>
    ErrorDocument 404 /error.php
    ErrorDocument 500 "<h1>Some error , contat the administrator</h1>"
    RewriteEngine On

    # Rewrite rule to remove .php extension
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ $1.php [L]

    # Rewrite rule for clean URLs (e.g., /page/123)
    RewriteRule ^page/([0-9]+)$ page.php?id=$1 [L,QSA]
    RewriteRule ^/?images/([^/]+)$ /images.php?name=$1 [L,QSA,NC]

    # Add more rules as needed
</IfModule>
